@using FinalProject.Entities
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<h2 class="text-center mb-4">Products</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var product in Model.OrderBy(r => r.Name))
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="~/Images/@product.ImageUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body text-center d-flex flex-column">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="fw-bold">$@product.Price</p>
                        <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@product.Id" class="btn btn-primary mb-2">Detail</a>
             @*            <form asp-controller="Product" asp-action="AddToCart" method="post" class="mt-auto">
                            <button type="submit" class="btn btn-success w-100">Add To Cart</button>
                        </form> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

