@model Product
<form asp-controller="Product" asp-action="AddToCart" method="post">
    <input hidden asp-for="Id" />
    <input hidden asp-for="Name" />
    <input hidden asp-for="Description" />
    <input hidden asp-for="Price" />
    <input hidden asp-for="ImageUrl" />
    <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
            <div class="item-img">
                <img src="~/Images/@Model.ImageUrl" alt="Coffee Shop" title="">
            </div>
            <div class="item-content">

                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>@Model.Name</strong></h6>
                <p class="mbr-text mbr-fonts-style mt-3 display-7">@Model.Description</p>
                <p class="mbr-text mbr-fonts-style mt-3 display-7">@Model.Price.ToString("c")</p>
            </div>
            <div class="mbr-section-btn item-footer mt-2">
                <button type="submit" class="btn item-btn btn-primary display-4" target="_self">
                    <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                </button>
            </div>
        </div>
    </div>
</form>